<!-- <div *ngFor="let item of [1, 2, 3, 4, 5]">
  <div>Number is : {{ item }}</div>
</div> -->

<div *ngFor="let p of products; let i = index">
  <p>{{ i + 1 }}</p>
  <div class="product-container">
    <h4>{{ p.name }}</h4>
    <p>{{ p.price }}</p>
    <p>{{ p.color }}</p>
    <span
      [ngStyle]="{
        color: p.status === 'Available' ? 'green' : 'red'
      }"
      >{{ p.status }}</span
    >
  </div>
  <div class="options">
    <button class="btn btn-success">Show Details</button>
    <button
      class="btn btn-warning"
      *ngIf="p.status === 'Available'; else notifyme"
    >
      Buy now
    </button>
    <ng-template #notifyme>
      <button class="btn btn-danger">Notify Me</button>
    </ng-template>
  </div>
</div>
